<div style="text-align: center;">
<h1>Welcome to the buggyapp!!!!!!</h1>
 
<img src="catman.png.jpeg" width="2048" height="1536" style="max-width: 100%; height: auto;" alt="Group Photo">

 
 
  <p>Find me in app/views/welcome/index.html.erb</p> 
</div> 

 
